.h-user-body
  = render "signup/signup-header"
  .h-user-main
    .h-user-contents
      %h2.h-user-title
        会員情報入力
      .h-user-content
        = form_for @user, url: step2_signup_index_path, method: :get, html: {class: 'h-user-form'} do |f|
          .h-user-form-box

            .h-form-group
              %label.h-label
                ニックネーム
              %span.h-form-require
                必須
              = f.text_field :nickname, placeholder: '例) メルカリ太郎', class: "h-input-default" 

            .h-form-group 
              %label.h-label
                メールアドレス
              %span.h-form-require
                必須
              = f.email_field :email, placeholder: 'PC・携帯どちらでも可', class: "h-input-default" 

            .h-form-group 
              %label.h-label
                パスワード
              %span.h-form-require
                必須
              = f.password_field :password, placeholder: '7文字以上', class: "h-input-default"

            .h-form-group 
              %label.h-label
                パスワード(確認用)
              %span.h-form-require
                必須
              = f.password_field :password_confirmation, placeholder: '7文字以上', class: "h-input-default"


            .h-form-group
              %h3.h-text
                本人確認
              %p.h-text-confirmation
                安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。

            .h-form-group
              %div
                %label.h-label
                  お名前（全角）
                %span.h-form-require
                  必須
              = f.text_field :family_name, placeholder: '例) 山田', class: "h-input-default h-half"
              = f.text_field :first_name, placeholder: '例) 彩', class: "h-input-default h-half"


            .h-form-group
              %div
                %label.h-label
                  お名前カナ（全角）
                %span.h-form-require
                  必須
              = f.text_field :family_name_kana, placeholder: '例) ヤマダ', class: "h-input-default h-half"
              = f.text_field :first_name_kana, placeholder: '例) アヤ', class: "h-input-default h-half"

            .h-form-group
              %label.h-label{for: "birthday_year"}
                生年月日
              %span.h-form-require
                必須
              %br
              .h-birthday-select-wrap
                .h-select-wrap
                  %i.h-icon-arrow-bottom
                  != sprintf(f.date_select(:birthday_year, with_css_classes:'h-select-default', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'

            %p.h-form-info-text
              ※本情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

            .h-form-group
              = image_tag "/images/google-reCAPTCHA.png", class: "h-recaptcha"

            .h-form-group
              %p.h-text-center
                「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします

              = f.submit "次へ進む", class: "h-btn-default h-btn-red"

            .h-form-group.h-text-right
              %p
                = link_to step2_signup_index_path, class: "h-text-link" do
                  本人情報の登録について
                  %i.h-icon-arrow-right
                    = image_tag "/images/yazirushi.svg", class: "h-icon-arrow-right"

  = render "signup/signup-footer"

-# プログレスバー用 css 記述↓
:css
  #through{
    color: #ea352d;
  }
  #through .progress-status{
      background: #ea352d;
  }
