.h-user-body
  = render "signup/signup-header"
  .h-user-main
    .h-user-contents
      %h2.h-user-title
        電話番号認証
      .h-user-content
        %form.h-user-form
          .h-user-form-box

            .h-form-group
              %label.h-label{for: "phone_number"}
                認証番号
              %input.h-input-default{placeholder:'認証番号を入力', type: 'text', name: 'nicknsme'}
            %p
              SMSで届いた認証番号を入力してください

            = link_to step4_signup_index_path, class: "" do
              %button.h-btn-default.h-btn-red{type: "submit"}
                認証して完了

      .h-user-content
        .h-user-form
          .h-user-form-box
            %h3.h-l-chapter-sub-head
              30秒たっても認証番号が届かない方へ
            %p.h-l-single-text
              電話で認証番号を聞くこともできます。

            = link_to step3_signup_index_path, class: "h-link-btn" do
              .h-btn-default.h-btn-red
                電話で認証番号を聞く (通話無料) 

      .h-user-content
        %form.h-user-form
          .h-user-form-box
            %h3.h-l-chapter-sub-head
              認証番号を再送することもできます。もう一度電話番号を入力して下さい
            %p.h-l-single-text
              電話で認証番号を聞くこともできます。
            %p
              = link_to root_path, class: "h-text-link" do
                電話番号を再度入力する
            %p.h-form-info-text
              ※SMSが届かない場合は
              = link_to "SMS設定受信", root_path, class: "h-text-link"
              を確認して、もう一度電話番号を入力してください。

  = render "signup/signup-footer"


  -# プログレスバー用 css 記述↓
:css
  #through .progress-status_bar{
      background: #ea352d;
  }  
  #active{
    color: #ea352d;
  }
  #active .progress-status{
      background: #ea352d;
  }