.h-user-body

  = render "signup/signup-header"
  
  .h-user-main
    .h-user-contents
      %h2.h-user-title
        電話番号の確認
      .h-user-content
        = form_for @user, url: step3_signup_index_path, method: :get, html: {class: 'h-user-form'} do |f|
          .h-user-form-box

            .h-form-group
              %label.h-label
                携帯電話の番号
              = f.text_field :phone_number, placeholder: '携帯電話の番号を入力', class: "h-input-default", maxlength: "11"
              = render partial: '/signup/user-error-messages', locals: {user: @user, column: "phone_number"}

            %p
              本人確認のため、携帯電話のSMS(ショートカットメッセージサービス)を利用して認証を行います。

            = f.submit "SMSを送信する", class: "h-btn-default h-btn-red"

            %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
            .h-form-group.h-text-right
              %p
                = link_to root_path, class: "h-text-link" do
                  電話番号の確認が必要な理由
                  %i.h-icon-arrow-right
                    = image_tag "/images/yazirushi.svg", class: "h-icon-arrow-right"

  = render "signup/signup-footer"

-# プログレスバー用 css 記述↓-------------------------------------
:css
  #through .progress-status_bar{
      background: #ea352d;
  }  
  #active{
    color: #ea352d;
  }
  #active .progress-status{
      background: #ea352d;
  }

