%body
  .m-mypage-wrapper

    = render "shared/header"

    - breadcrumb :identification
    = render partial: "shared/breadcrumbs"

    .m-mypage-container.clearfix

      =render "users/side-bar"

      .m-identification-content
        .m-identification-content-chapter 
          .m-identification-content-chapter-head
            本人情報の登録
          .m-identification-content-chapter-main

            .m-identification-text
              %p.m-identification-text-left
                お客さまの本人情報をご登録ください。
                %br
                登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
              %p.m-identification-text-right
                本人確認書類のアップロードについて
                %i.m-identification.fa.fa-angle-right.icon

            .m-identification-form-group
              %label.m-identification-form-group-text
                お名前
              %p.m-identification-form-group-text2
                = current_user.family_name
                = current_user.first_name

            .m-identification-form-group
              %label.m-identification-form-group-text
                お名前カナ
              %p.m-identification-form-group-text2
                = current_user.family_name_kana
                = current_user.first_name_kana

            .m-identification-form-group
              %label.m-identification-form-group-text
                生年月日
              %p.m-identification-form-group-text2
                = current_user.birthday_year

            .m-identification-form-group
              %label.m-identification-form-group-text
                郵便番号
              %span.m-identification-form-group-any
                任意
              %input.m-identification-form-group-default{placeholder:'例) 1234567', type: 'text', :value => current_user.address.postal_code.to_s(:phone)}
                

            .m-identification-form-group
              %label.m-identification-form-group-text{for: "prefectures"}
                都道府県
              %span.m-identification-form-group-any
                任意
              .m-identification-select-wrap
                %i.m-icon-arrow-bottom
                  = image_tag '/images/yazirushibottom.svg' ,class: 'm-identification-icon-bottom'
                %input.m-identification-form-group-default{name: "prefectures", :value =>current_user.address.prefecture.name}

            .m-identification-form-group
              %label.m-identification-form-group-text
                市町区村
              %span.m-identification-form-group-any
                任意
              %input.m-identification-form-group-default{placeholder:'例) 横浜市緑区', :value => current_user.address.municipalities}

            .m-identification-form-group
              %label.m-identification-form-group-text
                番地
              %span.m-identification-form-group-any
                任意
              %input.m-identification-form-group-default{placeholder:'例) 青山1-1-1', :value => current_user.address.house_number}

            .m-identification-form-group
              %label.m-identification-form-group-text
                建物名
              %span.m-identification-form-group-any
                任意
              %input.m-identification-form-group-default{placeholder:'例) 柳ビル103', :value => current_user.address.building_name}

              %button.m-btn-default.m-btn-red{type: "submit"}                
                登録する

            .m-identification-form-group.m-identification-text-right
              %p
                = link_to step2_signup_index_path, class: "h-text-link" do
                  本人情報の登録について
                  %i.h-icon-arrow-right
                    = image_tag "/images/yazirushi.svg", class: "h-icon-arrow-right"

    = render "shared/footer"