.k-header
  .k-top
    .k-top__logo-and-search
      .k-top__logo-and-search__logo
        = link_to "/" do
          = image_tag '/images/fmarket_logo_red.svg', height: '', width: '', class: 'k-top__logo-and-search__logo__img'
      .k-form
        %form.k-form
          %input.k-input{placeholder:'何かお探しですか？'}
          .btn
            %label{class: "form__mask"}
              = fa_icon 'search', class: 'icon', type:'submit', fa_icon: 'search'
    .k-top__list
      .k-top__list__menu
        .k-top__list__menu__link
          %i.k-fa
            =image_tag "/images/menu.svg",width: '20',heigth: '16',class: 'k-faicon'
            カテゴリーから探す
        .k-top__list__menu__link
          %i.fa.fa-tag
          ブランドから探す
      .k-top__list__list
        = link_to signup_index_path  ,class: 'signupbtn' do
          .k-top__list__list__signup 
            新規会員登録
        &nbsp;&nbsp;
        = link_to "/users/1/login", class: "signupbtn" do
          .k-top__list__list__login 
            ログイン
