.k-product-details
  .k-product-details__contents
    %h2.k-product-details__contents__title
      = @product.name
    -# 下記の説明は、ログインしていない場合のみ表示される文章
    %h2.k-product-details__contents__explanation
    - unless user_signed_in?
      『
      = @product.name
      』は、53回の取引実績を持つ
      = @seller.nickname
      さんから出品されました。
      = @product.shipping_area
      から
      = @product.shipping_date
      されます。
    .k-product-details__contents__content
      .k-product-details__contents__content__left
        %table.k-product-details__contents__content__left__picture
          %tr
            %td{cellpadding: "0", align: "center"}
              -@images.each do |image|
                - if image.product_id == @product[:id]
                  = image_tag image.image.url, height: '300', width: '300', alt: 'img2', class: 'k-product-details__contents__content__left__picture__img'
        .k-product-details__contents__content__left__pictures
          -@images.each do |image|
            - if image.product_id == @product[:id]
              = image_tag image.image.url, class: 'k-product-details__contents__content__left__pictures__imgs'
              -# = image_tag '/images/main2.jpg', class: 'k-product-details__contents__content__left__pictures__imgs'
              -# = image_tag '/images/main.jpg', class: 'k-product-details__contents__content__left__pictures__imgs'
              -# = image_tag '/images/footer.jpg', class: 'k-product-details__contents__content__left__pictures__imgs'
              -# = image_tag '/images/mercari_icon.png', class: 'k-product-details__contents__content__left__pictures__imgs'
              -# = image_tag '/images/main2.jpg', class: 'k-product-details__contents__content__left__pictures__imgs'
              -# = image_tag '/images/main.jpg', class: 'k-product-details__contents__content__left__pictures__imgs'
              -# = image_tag '/images/footer.jpg', class: 'k-product-details__contents__content__left__pictures__imgs'
              -# = image_tag '/images/mercari_icon.png', class: 'k-product-details__contents__content__left__pictures__imgs'
              -# = image_tag '/images/google.png', class: 'k-product-details__contents__content__left__pictures__imgs'

      .k-product-details__contents__content__right
        %table.k-table
          %tbody
            %tr
              %td{bgcolor: "#fafafa"} 出品者
              %td
                %p
                = link_to '' ,class: 'k-password-link-a' do
                  = @seller.nickname
                %p 
                .fa.fa-smile-o.k-face__pink
                54
                .fa.fa-meh-o.k-face__yellow
                3
                .fa.fa-frown-o.k-face__blue
                1
            %tr
              %td{bgcolor: "#fafafa"}  カテゴリー
              %td
                %p

                = link_to '' ,class: 'k-password-link-a' do
                  = @product.category.root.name
                %p
                = link_to '' ,class: 'k-password-link-a' do
                  .fa.fa-angle-right
                  = @product.category.parent.name
                %p
                = link_to '' ,class: 'k-password-link-a' do
                  .fa.fa-angle-right
                  = @product.category.name

            %tr
              %td{bgcolor: "#fafafa"}  ブランド
              %td
                = link_to '' ,class: 'k-password-link-a' do
                  &nbsp;
            %tr
              %td{bgcolor: "#fafafa"}  商品の状態
              %td
                = @product.condition
            %tr
              %td{bgcolor: "#fafafa"}  配送料の負担
              %td
                = @product.shipping_charge
            %tr
              %td{bgcolor: "#fafafa"}  配送の方法
              %td
                = @product.shipping_method
            %tr
              %td{bgcolor: "#fafafa"}  配送元の地域
              %td
                = link_to '' ,class: 'k-password-link-a' do
                  = @product.shipping_area
            %tr
              %td{bgcolor: "#fafafa"}  発送日の目安
              %td
                = @product.shipping_date



    .k-product-details__contents__price-box
      %span.k-product-details__contents__price-box__price
        ¥
        = @product.price.to_s(:delimited)
        %span.k-product-details__contents__price-box__text
          (税込)
        %span.k-product-details__contents__price-box__shipping-fee
          送料込み

    = link_to buy_product_path ,class: 'k-buy-a' do
      .k-product-details__contents__buy
        購入画面に進む
    -# .k-product-details__contents__buy-not
    -#   売り切れました
    -#   ↑売り切れの場合
    -#   ↓ゆうゆうメルカリ便のみ表示
    %p.k-product-details__contents__message
      この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
    .k-product-details__contents__details
      = @product['description']
    .k-product-details__contents__container
      .k-product-details__contents__container__left
        .k-circle
          = link_to '' ,class: 'k-black-a' do
            .k-product-details__contents__container__left__like
              .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
              いいね!
        .k-circle
          = link_to '' ,class: 'k-black-a' do
            .k-product-details__contents__container__left__report
              %i.k-product-details__contents__container__left__report__i.fa.fa-flag-o
              %span.k-product-details__contents__container__left__report__text 不適切な商品の広告
      .k-product-details__contents__container__right
        = link_to '' ,class: 'k-blue-a' do
          .fa.fa-lock
          %span.k-product-details__contents__container__right__text
            = link_to '' ,class: 'k-relief' do
              あんしん・あんぜんへの取り組み
    - if user_signed_in? && @product.seller_id == current_user.id
      = link_to '' ,class: 'k-buy-a' do
        .k-product-details__contents__buy
          商品の編集
      = link_to "/products/#{@product.id}", method: :delete do
        .k-product-details__contents__buy-not
          商品の削除

  .k-product-details__comment
    .k-product-details__comment__posted
      コメント
      コメント
      コメント
    .k-product-details__comment__post
      .k-product-details__comment__post__form
        %p.k-product-details__comment__post__form__p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.k-product-details__comment__post__form__textarea{:name => "body", :type => "text", :value => ""}
        .k-product-details__comment__post__form__textarea__button
        %button.k-product-details__comment__post__form__button コメントする

  %ul.k-product-details__itemlink
    %li.k-product-details__itemlink__prev
      = link_to '' ,class: 'k-password-link-a' do
        .fa.fa-angle-left
        テスト
    %li.k-product-details__itemlink__next
      = link_to '' ,class: 'k-password-link-a' do
        テスト
        .fa.fa-angle-right

  .k-product-details__supply
    .k-product-details__supply__margin
    %ul.k-product-details__supply__contents
      %li.k-product-details__supply__contents__box
        .k-product-details__supply__contents__box__facebook
          .fa.fa-facebook-official
        
      %li.k-product-details__supply__contents__box
        .k-product-details__supply__contents__box__twitter
          .fa.fa-twitter

      %li.k-product-details__supply__contents__box
        .k-product-details__supply__contents__box__pinterest
          .fa.fa-pinterest


  .k-product-details__item-box
    .k-product-details__item-box__main
      %h2.k-product-details__item-box__main__head
        = link_to '' ,class: 'k-password-link-a' do
          = @seller.nickname
          さんのその他の出品
      .k-product-details__item-box__main__products

        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/footer.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1

          
        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/sampleimage.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1

        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/sampleimage.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1

          
        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/sampleimage.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1

        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/sampleimage.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1

        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/sampleimage.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1


      %h2.k-product-details__item-box__main__head
        = link_to '' ,class: 'k-password-link-a' do
          ×××××× その他の商品
      .k-product-details__item-box__main__products

        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/footer.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1

          
        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/sampleimage.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1

        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/sampleimage.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1

          
        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/sampleimage.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1

        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/sampleimage.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1

        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/sampleimage.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1


                
  %nav.k-product-details__footer
    %ul.k-product-details__footer__ul
      %li
        = link_to '' ,class: 'k-footer-root' do
          %span メルカリ
      %i.k-product-details__footer__i.fa.fa-angle-right
      %li
        %span.k-product-details__footer__title  値下げ限界 早い者勝ちPRADA プラダ カナパ



