:javascript
  <!--
  function myChgPic(myPicURL){
    document.images["myBigImage"].src = myPicURL;
  }
  // -->

.k-product-details
  .k-product-details__contents
    %h2.k-product-details__contents__title 値下げ限界 早い者勝ちPRADA プラダ カナパ
    -# 下記の説明は、ログインしていない場合のみ表示される文章
    %h2.k-product-details__contents__explanation 『値下げ限界 早い者勝ちPRADA プラダ カナパ』は、53回の取引実績を持つ小森 かなさんから出品されました。プラダ（トートバッグ/レディース）の商品で、大阪府から2~3日で発送されます。
    .k-product-details__contents__content
      .k-product-details__contents__content__left
        %table.k-product-details__contents__content__left__picture
          %tr
            %td{:cellpadding => "0", :align => "center"}
              %img{:height => "300", :name => "myBigImage", :src => "/images/google.png", :width => "300", :class => "k-product-details__contents__content__left__picture__img"}/
        %table.k-product-details__contents__content__left__pictures
          %tr
            %td
              %a{:href => "javascript:void(0)", :onmouseover => "myChgPic( '/images/google.png' )"}
                %img{:src => "/images/google.png", :class => "k-product-details__contents__content__left__pictures__imgs"}/
            %td
              %a{:href => "javascript:void(0)", :onmouseover => "myChgPic( '/images/main2.jpg' )"}
                %img{:src => "/images/main2.jpg", :class => "k-product-details__contents__content__left__pictures__imgs"}/
            %td
              %a{:href => "javascript:void(0)", :onmouseover => "myChgPic( '/images/main.jpg' )"}
                %img{:src => "/images/main.jpg", :class => "k-product-details__contents__content__left__pictures__imgs"}/
            %td
              %a{:href => "javascript:void(0)", :onmouseover => "myChgPic( '/images/footer.jpg' )"}
                %img{:src => "/images/footer.jpg", :class => "k-product-details__contents__content__left__pictures__imgs"}/
            %td
              %a{:href => "javascript:void(0)", :onmouseover => "myChgPic( '/images/mercari_icon.png' )"}
                %img{:src => "/images/mercari_icon.png", :class => "k-product-details__contents__content__left__pictures__imgs"}/
          %tr
            %td
              %a{:href => "javascript:void(0)", :onmouseover => "myChgPic( '/images/main2.jpg' )"}
                %img{:src => "/images/main2.jpg", :class => "k-product-details__contents__content__left__pictures__imgs"}/
            %td
              %a{:href => "javascript:void(0)", :onmouseover => "myChgPic( '/images/main.jpg' )"}
                %img{:src => "/images/main.jpg", :class => "k-product-details__contents__content__left__pictures__imgs"}/
            %td
              %a{:href => "javascript:void(0)", :onmouseover => "myChgPic( '/images/footer.jpg' )"}
                %img{:src => "/images/footer.jpg", :class => "k-product-details__contents__content__left__pictures__imgs"}/
            %td
              %a{:href => "javascript:void(0)", :onmouseover => "myChgPic( '/images/mercari_icon.png' )"}
                %img{:src => "/images/mercari_icon.png", :class => "k-product-details__contents__content__left__pictures__imgs"}/
            %td
              %a{:href => "javascript:void(0)", :onmouseover => "myChgPic( '/images/google.png' )"}
                %img{:src => "/images/google.png", :class => "k-product-details__contents__content__left__pictures__imgs"}/


      .k-product-details__contents__content__right
        %table.k-table
          %tbody
            %tr
              %td{:bgcolor => "#fafafa"} 出品者
              %td
                %p
                = link_to '' ,class: 'k-password-link-a' do
                  小森かな
                %p 
                .fa.fa-smile-o.k-face__pink
                54
                .fa.fa-meh-o.k-face__yellow
                3
                .fa.fa-frown-o.k-face__blue
                1
            %tr
              %td{:bgcolor => "#fafafa"}  カテゴリー
              %td
                %p
                = link_to '' ,class: 'k-password-link-a' do
                  レディース
                %p
                = link_to '' ,class: 'k-password-link-a' do
                  .fa.fa-angle-right
                  バック
                %p
                = link_to '' ,class: 'k-password-link-a' do
                  .fa.fa-angle-right
                  トートバック
            %tr
              %td{:bgcolor => "#fafafa"}  ブランド
              %td
                = link_to '' ,class: 'k-password-link-a' do
                  プラダ
            %tr
              %td{:bgcolor => "#fafafa"}  商品の状態
              %td やや傷や汚れあり
            %tr
              %td{:bgcolor => "#fafafa"}  配送料の負担
              %td 送料込み(出品者負担)
            %tr
              %td{:bgcolor => "#fafafa"}  配送の方法
              %td ゆうゆうメルカリ便
            %tr
              %td{:bgcolor => "#fafafa"}  配送元の地域
              %td
                = link_to '' ,class: 'k-password-link-a' do
                  大阪府
            %tr
              %td{:bgcolor => "#fafafa"}  発送日の目安
              %td 2~3日で発送




    .k-product-details__contents__price-box
      %span.k-product-details__contents__price-box__price
        ¥15,500
        %span.k-product-details__contents__price-box__text
          (税込)
        %span.k-product-details__contents__price-box__shipping-fee
          送料込み
    .k-product-details__contents__buy
      購入画面に進む
    -# .k-product-details__contents__buy-not
    -#   売り切れました
    -#   ↑売り切れの場合
    -#   ↓ゆうゆうメルカリ便のみ表示
    %p.k-product-details__contents__message
      この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
    .k-product-details__contents__details
      PRADA プラダ カナパをご覧いただきありがとうございます。
      こちらはプラダのトートバッグです。
      ご不明点があればコメントよろしくお願いいたします。
    .k-product-details__contents__container
      .k-product-details__contents__container__left
        .k-circle
          = link_to '' ,class: 'k-black-a' do
            .k-product-details__contents__container__left__like
              .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
              いいね!
        .k-circle
          = link_to '' ,class: 'k-black-a' do
            .k-product-details__contents__container__left__report
              %i.k-product-details__contents__container__left__report__i.fa.fa-flag-o
              %span.k-product-details__contents__container__left__report__text 不適切な商品の広告
      .k-product-details__contents__container__right
        = link_to '' ,class: 'k-blue-a' do
          .fa.fa-lock
          %span.k-product-details__contents__container__right__text
            = link_to '' ,class: 'k-relief' do
              あんしん・あんぜんへの取り組み

  .k-product-details__comment
    .k-product-details__comment__posted
      コメント
      コメント
      コメント
    .k-product-details__comment__post
      .k-product-details__comment__post__form
        %p.k-product-details__comment__post__form__p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.k-product-details__comment__post__form__textarea{:name => "body", :type => "text", :value => ""}
        .k-product-details__comment__post__form__textarea__button
        %button.k-product-details__comment__post__form__button コメントする

        -# %textarea.k-product-details__comment__post__form__textarea{:disabled => "", :name => "body", :type => "text", :value => ""}


  %ul.k-product-details__itemlink
    %li.k-product-details__itemlink__prev
      = link_to '' ,class: 'k-password-link-a' do
        .fa.fa-angle-left
        テスト
    %li.k-product-details__itemlink__next
      = link_to '' ,class: 'k-password-link-a' do
        テスト
        .fa.fa-angle-right

  .k-product-details__supply
    .k-product-details__supply__margin
    %ul.k-product-details__supply__contents
      %li.k-product-details__supply__contents__box
        .k-product-details__supply__contents__box__facebook
          .fa.fa-facebook-official
        
      %li.k-product-details__supply__contents__box
        .k-product-details__supply__contents__box__twitter
          .fa.fa-twitter

      %li.k-product-details__supply__contents__box
        .k-product-details__supply__contents__box__pinterest
          .fa.fa-pinterest


  .k-product-details__item-box
    .k-product-details__item-box__main
      %h2.k-product-details__item-box__main__head
        = link_to '' ,class: 'k-password-link-a' do
          ××さんのその他の出品
      .k-product-details__item-box__main__products

        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/footer.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1

          
        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/sampleimage.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1

        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/sampleimage.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1

          
        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/sampleimage.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1

        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/sampleimage.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1

        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/sampleimage.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1


      %h2.k-product-details__item-box__main__head
        = link_to '' ,class: 'k-password-link-a' do
          ×××××× その他の商品
      .k-product-details__item-box__main__products

        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/footer.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1

          
        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/sampleimage.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1

        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/sampleimage.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1

          
        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/sampleimage.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1

        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/sampleimage.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1

        %section.k-product-details__item-box__main__products__items-box
          = image_tag '/images/sampleimage.jpg', height: '220px', width: '220px', class: 'k-product-details__item-box__main__products__items-box__img'
          .k-product-details__item-box__main__products__items-box__item
            .k-product-details__item-box__main__products__items-box__item__name
              EMODAセット売り
            .k-product-details__item-box__main__products__items-box__item__price
              .k-product-details__item-box__main__products__items-box__item__price__text
                ¥2,700
              .k-product-details__item-box__main__products__items-box__item__price__love
                .fa.k-product-details__item-box__main__products__items-box__item__price__love__i.fa-heart-o
                1


                
  %nav.k-product-details__footer
    %ul.k-product-details__footer__ul
      %li
        = link_to '' ,class: 'k-footer-root' do
          %span メルカリ
      %i.k-product-details__footer__i.fa.fa-angle-right
      %li
        %span.k-product-details__footer__title  値下げ限界 早い者勝ちPRADA プラダ カナパ



