.o-buycontainer
  %header.o-proexhibit__header
    %h2.o-proexhibit__headerimage
      = link_to root_path do
        = image_tag( '/images/fmarket_logo_red.svg',  class: 'o-proexhibit__headerimg' )
  .o-buymain
    %section.o-buysection
      %h2.o-buytitle 購入内容の確認
      %section.o-buycontents
        .o-buycontent
          %h3.o-buycontent
            = image_tag @product.images.last.image.url,class: "o-buycontent__image" 
          %p.o-buycontent__name
            = @product.name
        .o-buyform
          %p.o-buyform__sabprice
            ¥
            = @product.price.to_s(:delimited)
            %span.o-buyform__sabfee 送料込み
        %ul.o-buypoints
          %li.o-pointtext 
            ポイントはありません
        %ul.o-buyprices
          %li.o-buyprice
            %p
              支払い金額
              %span.o-buyprice__cell
                ¥
                = @product.price.to_s(:delimited)
        .o-payjp-btn
          = form_for(@product,url: purchase_product_path) do
            %button.o-buyprice__btn 購入する
            
      %section.o-buyusers
        .o-buyuser
          %h3.o-buyuser__title 配送先
          %address.o-buyuser__text
            〒
            = current_user.address.postal_code.to_s(:phone)
            %br
              = current_user.address.prefecture.name + current_user.address.municipalities + current_user.address.house_number
            %br
              = current_user.family_name + current_user.first_name 

      %section.o-buyusers
        .o-buyuser
          %h3.o-buyuser__title 支払い方法
          .o-buyuser__text
            クレジットカード
            .content__credit-cards__list--pay-num
              = "**** **** ****" + @default_card_information.last4
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year

  = render "signup/signup-footer"
          