= form_for @product do |f|
  %header.o-proexhibit__header
    %h2.o-proexhibit__headerimage
      = link_to root_path do
        = image_tag( '/images/fmarket_logo_red.svg',  class: 'o-proexhibit__headerimg' )

  .o-proexhibit__main
    %section.o-proexhibit__inner
      .o-proexhibit__title
        %h2.o-proexhibit__titlename
          商品の情報を入力
      .o-proexhibit__inner__form
        = f.fields_for :images do |i|
          .o-proexhibit__imageuploads
            = f.label '出品画像', class: 'o-proexhibit__imageuploads__title'
            %span.o-proexhibit__required 必須
            %p.o-proexhibit__imageuploads__text
              最大10枚までアップロードできます
          .k-edit-imgup
            .o-edit-image-move
              .o-edit-image-move__image
                -@images.each do |image|
                  - if image.product_id == @product[:id]
                    = image_tag image.image.url, class: 'o-edit-image-move__image__img'
              .o-edit-image-move__up
                .o-edit-image-move__up__edit 編集
                .o-edit-image-move__up__choice 削除
            =i.label :image do
              .o-edit-proexhibit__imageuploads__file
                = i.file_field :image, type: 'file', class: "o-proexhibit__imageuploads__fileimage, o-hidden"
                %pre.o-proexhibit__imageuploads__filetext
                  ドラックアンドドロップ
                  またはクリックしてファイルをアップロード


          .o-proexhibit__productname
            .o-proexhibit__productname__formgroup
              = f.label '商品名', class: 'o-proexhibit__productname__title'
              %span.o-proexhibit__required 必須
              = f.text_field :name, class: "o-inputproductname", placeholder:'商品名（必須 40文字まで）'

            .o-proexhibit__productname__formgroup
              = f.label '商品の説明', class: 'o-proexhibit__productname__title'
              %span.o-proexhibit__required 必須
              = f.text_area :description, class: "o-inputproducttext", placeholder:'商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'

          .o-proexhibit__explain
            = f.label '商品の詳細', class: 'o-proexhibit__explain__title'
            .o-proexhibit__explain__formbox
              .o-proexhibit__explain__fformgroup
                = f.label 'カテゴリー', class: 'o-proexhibit__productname__title'
                %span.o-proexhibit__required 必須
                .o-proexhibit__explain__from
                  = f.select :category,@category_parent_array, {}, {class: 'o-select', id: 'parent_category'}
                  %i.fa.fa-chevron-down.icon-bottom
              
              .o-proexhibit__explain__formgroup
                = f.label '商品の状態', class: 'o-proexhibit__productname__title'
                %span.o-proexhibit__required 必須
                .o-proexhibit__explain__from
                  %i.o-icon-bottom
                    =f.select :condition, Product.conditions.keys.to_a,{},{class:'o-select'}
                    %i.fa.fa-chevron-down.icon-bottom

          .o-proexhibit__explain
            = f.label '配送について', class: 'o-proexhibit__deivery__title'
            .o-proexhibit__explain__formbox
              .o-proexhibit__explain__formmgroup
                = f.label '配送料の負担', class: 'o-proexhibit__productname__title'
                %span.o-proexhibit__required 必須
                .o-proexhibit__deivery__from
                  =f.select :shipping_charge,  Product.shipping_charges.keys.to_a, {},{class:'o-select'}
                  %i.fa.fa-chevron-down.icon-bottom
              
              .o-proexhibit__deivery__formgroup
                = f.label '配送の方法', class: 'o-proexhibit__productname__title'
                %span.o-proexhibit__required 必須
                .o-proexhibit__deivery__from
                  =f.select :shipping_method, Product.shipping_methods.keys,{},{class:'o-select'}
                  %i.fa.fa-chevron-down.icon-bottom

              .o-proexhibit__deivery__formgroup
                = f.label '発送元の地域', class: 'o-proexhibit__productname__title'
                %span.o-proexhibit__required 必須
                .o-proexhibit__deivery__from
                  =f.select :shipping_area, Product.shipping_areas.keys,{},{class:'o-select'}
                  %i.fa.fa-chevron-down.icon-bottom

              .o-proexhibit__deivery__formgroup
                = f.label '発送までの日数', class: 'o-proexhibit__productname__title'
                %span.o-proexhibit__required 必須
                .o-proexhibit__deivery__from
                  =f.select :shipping_date, Product.shipping_dates.keys,{},{class:'o-select'}
                  %i.fa.fa-chevron-down.icon-bottom

          .o-proexhibit__price
            = f.label '販売価格(300~9,999,999)', class: 'o-proexhibit__price__title'
            %ul.o-proexhibit__price__formbox
              %li.o-proexhibit__price__formgroup
                %label.o-proexhibit__productnamee__title
                  価格
                  %span.o-proexhibit__required 必須
                %label.o-proexhibit__price__yen
                  ¥
                .o-proexhibit__price__from
                  = f.number_field :price, class: "o-priceselect", placeholder:'例）300'
              %li.o-fee
                .o-fee__left
                  販売手数料(10%)
                .o-fee-calculation
                  .o-fee__right
              %li.o-profit
                .o-profit__left
                  販売利益
                .o-profit-calculation
                  .o-profit__right
                  
          .o-proexhibit__btn
            .o-proexhibit__notes
              %p.o-proexhibit__note
                = link_to "禁止されている出品", root_path, class: "h-text-link"
                、
                = link_to "行為", root_path, class: "h-text-link"
                を必ずご確認ください。
              %p.o-proexhibit__note
                またブランド品でシリアルナンバー等がある場合はご記載ください。
                = link_to "偽ブランドの販売", root_path, class: "h-text-link"
                は犯罪であり処罰される可能性があります。
              %p.o-proexhibit__note
                また、出品をもちまして
                = link_to "加盟店規約", root_path, class: "h-text-link"
                に同意したことになります。
              = f.submit '変更する', class: 'o-proexhibit__linkred'
              = link_to root_path ,class: "o-proexhibit__return" do
                .o-proexhibit__linkgray
                  キャンセル
    
  = render "signup/signup-footer"
